<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Inicio", todos_path %></li>
        <li> <%= link_to "Lista", todos_list_path %></li>
        <li> <%= link_to "Agregar", todos_new_path %></li>
      </ul>
    </div>
  </div>
</nav>